* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #202123;
  color: #b2b4b4;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 3rem;
  padding-top: 1vh;
  font-weight: bold;
}

#section {
  margin-top: 5vh;
}

.score {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  font-weight: bold;
}

.computer-name,
.player-name {
  font-size: 1.5rem;
}

img {
  height: 25vh;
  width: 25vh;
  margin-top: 4vh;
}

.computer-image {
  transform: scaleX(-1);
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.conclusion {
  font-size: 1.5rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.choice {
  height: 5vh;
  width: 6vw;
  border-radius: 1vw;
  border: 2px solid black;
  font-weight: bold;
  background-color: #b2b4b4;
  color: black;
}

.preview {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startButton {
  height: 15vh;
  width: 15vw;
  font-size: 2.5rem;
  background-color: #343540;
  color: #b2b4b4;
  font-weight: bold;
  border-radius: 2vh;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.final-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 3rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #343540;
  width: 32vw;
  border-radius: 2vh;
  font-weight: bold;
  border: 2px solid black;
}

.playagain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-again {
  text-align: center;
  height: 10vh;
  width: 10vw;
  border-radius: 2vh;
  border: 2px solid black;
  font-weight: bold;
  color: #b2b4b4;
  font-size: 1.25rem;
  background-color: #343540;
}
